{% extends "base.html" %}

{% block content %}
<h1>Томат</h1>
<p>
    <img src="/static/img/buche.jfif" height='200'>
</p>

<h4>Сорт позднеспелый – первые плоды (5 шт. в кисти) созревают через 120-130 дней после появления всходов. В открытом грунте урожайность составляет от 3 до 5 кг помидоров с куста. В условиях теплицы этот показатель может увеличиваться до 12 кг. Куст детерминантного типа – стебли вырастают до 1,5 м и более. Чтобы добиться рекордных урожаев, уходом не пренебрегайте – своевременная формировка и подвязка к опоре, профилактическая обработка от фитофтороза – и урожай не заставит себя ждать!

По форме помидоры сердцевидные, ярко-красные. У гибридов окраска варьируется от лимонной и малиновой до густо-коричневой и черной. Средняя масса – от 300-500 г до 800 г и даже до 1 кг. На кусте крупные экземпляры располагаются ближе к земле, более мелкие – в верхней части стебля. Гигантские размеры плодов, плотная мякоть и неповторимый сладкий вкус делают этот томат безоговорочным любимцем всех без исключения огородников.
Сумеют ли молодые люди пережить смерть своего друга и принять его отношение к жизни и искусству?
</h4>

<h1>Условия выращивания</h1>
<p>
    <img src="/static/img/uslovia2.jpg" height='200'>
</p>

<h4>Хорошая освещенность. Сажайте «бычье сердце» на хорошо освещенном участке. Помидорам солнце необходимо в течение всего светового дня, то есть от 6 до 8 часов.
</h4>
{% endblock %}