<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <h3 role="presentation" class="active"><a href="/Orlinoe">Томат орлиное сердце</a></h3>
            <h3 role="presentation"><a href="/Buche">Томат бычье сердце</a></h3>
 	    <h3 role="presentation"><a href="/Xlebosolniy">Томат хлебосольный</a></h3>
          </ul>
        </nav>
        <h1 class="text-muted">Вы можете ознкомиться с сортами помидоров</h1>
      <p>
    <img src="/static/img/pomidori.jfif" height='450'>
      </p>
    </div>

    </div>
  </body>
</html>

