{% extends "base.html" %}

{% block content %}
<h1>Томат</h1>
<p>
    <img src="/static/img/orel.jpg" height='200'>
</p>

<h4>«Томат с гордым названием Орлиное сердце занимает нижнюю строку нашего топа. Все, кто выращивает эти помидоры-великаны с вытянутым кончиком, по форме напоминающие сердце, оставляют о сорте только положительные отзывы. Масса плодов достигает 600-800 г, а иногда и до 1 кг. Один такой розово-малиновый мясистый "увалень" – и салатом можно накормить всю семью! Мякоть у помидора сахаристая, сочная и сладкая.

Сорт детерминантный, среднего срока созревания – в теплице с питательным грунтом кусты вырастают до 170 см и нуждаются в пасынковании и подвязке. В открытом грунте могут быть немного ниже. Зато урожайность их порой превышает 10 кг с куста. Ради таких впечатляющих результатов никаких усилий не жалко. Тем более что томат показывает устойчивость к большинству болезней, при транспортировке не теряет формы и может храниться до 3 месяцев.
</h4>

<h1>Регионы выращивания</h1>
<p>
    <img src="/static/img/uslovia1.jpg" height='200'>
</p>

<h4>Северный, Северо-Западный, Центральный, Волго-Вятский, ЦЧО, Северо-Кавказский, Средневолжский, Нижневолжский, Уральский, Западно-Сибирский, Восточно-Сибирский, Дальневосточный регионы
</h4>
{% endblock %}