{% extends "base.html" %}

{% block content %}
<h1>Томат</h1>
<p>
    <img src="/static/img/xlebosolniy.jpg" height='200'>
</p>

<h4>Сорт предназначен для выращивания в открытом грунте. Куст детерминантного типа, однако подвязка к опоре все равно необходима. На открытых грядках высота растения не превышает 70-80 см, при культивировании в теплице может достигнуть 1 м. Лучший урожай получается при формировании куста в 2-3 стебля. Если вы не стремитесь вырастить плоды гигантских размеров, то при выращивании можно обойтись без пасынкования.

Томат среднеспелого срока созревания: первые плоды появляются через 115-120 дней. Помидоры округлые, слегка приплюснутые, слаборебристые. В состоянии биологической спелости приобретают традиционный для томатов красный цвет. Кожица тонкая, но плотная. Мякоть мясистая, сладкая. Плоды на одном кусте отличаются по размеру: могут быть и по 300 г, и по 600 г. Урожайность составляет от 4 до 9 кг/кв.м. Томаты рекомендованы для употребления в свежем виде, однако также подходят для изготовления соков и соусов.
</h4>

<h1>Условия выращивания</h1>
<p>
    <img src="/static/img/uslovia3.jfif" height='200'>
</p>

<h4>Томат хорошо растет при температуре днем 18-200 С, а ночью 15-160 С. Ему требуется повышенная температура в период роста растений и формирования плодов, а при созревании – более низкая. Плоды быстрее созревают при температуре 20-250 С, а раннеспелые сорта даже при 16-180 С.
</h4>
{% endblock %}